<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $query
 * @var int $totalCount
 * @var int $perPage
 * @var int $offset
 * @var int $currentPage
 * @var int $previousPage
 * @var int $nextPage
 * @var int $pageCount
 * @var string $firstPageUrl
 * @var string $previousPageUrl
 * @var string $nextPageUrl
 * @var string $lastPageUrl
 * @var string $pagelessUrl
 *
 * Option spécifique pour supprimer sans input. Cf. pagination-without-form.
 * @var string $noInput
 */

$noInput = !empty($noInput);

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$themeFunctions = $plugins->get('ThemeFunctions');

unset($query['page']);
$query = array_filter($query);

// TODO Normaliser les classes et supprimer tout cela.
// TODO Temp fix pour la pagination.
$classes = [
    'item-set-browse' => 'browse-itemsets-pagination',
    'item-browse' => 'browse-items-pagination',
    'media-browse' => 'browse-media-pagination',
    'item-set-search' => 'browse-itemsets-pagination',
    'item-search' => 'browse-items-pagination',
    'media-search' => 'browse-media-pagination',
    'item-set-show' => 'itemset-show-pagination',
    'item-show' => 'item-show-pagination',
    'media-show' => 'media-show-pagination',
    'advanced-search-search' => 'search-results-pagination',
    'advanced-search-item-set' => 'search-results-pagination',
    'search-search' => 'search-results-pagination',
    'search-item-set' => 'search-results-pagination',
    '-' => 'browse-items-pagination',
];

// Manage an exception.
$simpleRoute = $themeFunctions->simpleRoute() ?: ['controller' => 'item', 'action' => 'browse'];
$simpleRouteValue = $simpleRoute['controller'] . '-' . $simpleRoute['action'];
if ($simpleRouteValue === 'advanced-search-item-set' && $this->themeSetting('itemset_show_template') !== 'search') {
    $mainClass = 'itemset-show-pagination';
    $itemSetId = $this->params()->fromRoute('item-set-id');
    $itemSet = $this->api()->read('item_sets', $itemSetId)->getContent();
    $itemSetUrl = $itemSet->siteUrl();
    unset($query['item_set']);
    $queryString = $query ? '?' . http_build_query($query, '', '&', PHP_QUERY_RFC3986) : '';
    $queryPage = $query ? '&page=' : '?page=';
    $pagelessUrl = $itemSetUrl . $queryString;
    $firstPageUrl = $pagelessUrl;
    if ($currentPage <= 1) {
        $currentUrl = $pagelessUrl;
    } else {
        $currentUrl = $pagelessUrl . $queryPage . $currentPage;
    }
    if ($currentPage <= 1) {
        $previousPageUrl = null;
    } elseif ($currentPage === 2) {
        $previousPageUrl = $pagelessUrl;
    } else {
        $previousPageUrl = $pagelessUrl . $queryPage . $previousPage;
    }
    if ($currentPage < $pageCount) {
        $nextPageUrl = $pagelessUrl . $queryPage . $nextPage;
    } else {
        $nextPageUrl = null;
    }
    if ($pageCount > 1) {
        $lastPageUrl = $pagelessUrl . $queryPage . $pageCount;
    } else {
        $lastPageUrl = $firstPageUrl;
    }
} else {
    $mainClass = $classes[$simpleRouteValue] ?? 'browse-items-pagination';
}

if ($mainClass === 'browse-items-pagination') {
    $mainClass .= ' itemset-show-pagination';
}
?>

<nav class="pagination <?= $mainClass ?>" role="navigation">
<?php if ($totalCount): ?>

    <?php if ($currentPage > 1): ?>
    <a class="pagination-first" href="<?= $escape($firstPageUrl) ?>" title="<?= $translate('First') ?>" aria-label="<?= $translate('First') ?>"></a>
    <a class="pagination-previous" href="<?= $escape($previousPageUrl) ?>" title="<?= $translate('Previous') ?>" aria-label="<?= $translate('Previous') ?>"></a>
    <?php endif; ?>

    <?php if (empty($noInput)): ?>
    <form action="<?= $pagelessUrl ?>">
        <?= $themeFunctions->inputHiddenFromQuery($query) ?>
        <?= sprintf('%1$spage%2$s %3$s sur %4$s', // @translate
            '<span>',
            '</span>',
            // '<span class="pagination-current">' . $currentPage . '</span>',
            '<input class="pagination-current" name="page" type="tel" value="' . $currentPage . '"/>',
            '<span class="pagination-total">' . $pageCount . '</span>'
        ) ?>
    </form>
    <?php else: ?>
    <?= sprintf('%1$spage%2$s %3$s sur %4$s', // @translate
        '<span>',
        '</span>',
        '<span class="pagination-current">' . $currentPage . '</span>',
        '<span class="pagination-total">' . $pageCount . '</span>'
    ) ?>
    <?php endif; ?>

    <?php if ($currentPage < $pageCount): ?>
    <a class="pagination-next" href="<?= $escape($nextPageUrl) ?>" title="<?= $translate('Next') ?>" aria-label="<?= $translate('Next') ?>"></a>
    <a class="pagination-last" href="<?= $escape($lastPageUrl) ?>" title="<?= $translate('Last') ?>" aria-label="<?= $translate('Last') ?>"></a>
    <?php endif; ?>

<?php else: ?>

    <?= $translate('Pas de résultat.') ?>

<?php endif; ?>

</nav>
