<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $values
 * @var array $templateProperties If any.
 * Options:
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource
 * @var bool $onlyPublic
 * @var string $block The type of the block: "short".
 */

// Le html utilise des <li>: <ul> doit être inclus lors de l'appel.

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$url = $plugins->get('url');
$themeFunctions = $plugins->get('ThemeFunctions');

// $labelInfo = $this->status()->isSiteRequest() ? $this->siteSetting('property_label_information') : $this->setting('property_label_information');
$labelInfo = $this->setting('property_label_information');
$isItem = $resource instanceof \Omeka\Api\Representation\ItemRepresentation;
$itemSets = null;

// Suppression de toutes les valeurs privées, même quand on est connecté, et
// suppression des valeurs vides.
if (!empty($onlyPublic)) {
    foreach ($values as $term => $propertyData) {
        foreach ($propertyData['values'] as $key => $value) {
            if (!$value->isPublic()) {
                unset($values[$term]['values'][$key]);
            }
        }
        if (empty($propertyData['values'])) {
            unset($values[$term]);
        }
    }
}

if (empty($block)) {
    $block = null;
} elseif ($block === 'short') {
    // Filtre et tri les propriétés.
    $shortProperties = [
        'dcterms:title' => null,
        'dcterms:creator' => null,
        'dcterms:date' => null,
        // Inclure les collections après la source.
        'item_sets' => true,
        'dcterms:source' => null,
        'dcterms:identifier' => null,
        // Modèles spécifiques.
        'foaf:name' => null,
        'bio:birth' => null,
        'bio:death' => null,
    ];
    $values = array_filter(array_replace($shortProperties, array_intersect_key($values, $shortProperties)));
    // Insère la collection seulement pour les items.
    if ($isItem) {
        $itemSets = $resource->itemSets();
        if (!count($itemSets)) {
            unset($values['item_sets']);
        }
    } else {
        unset($values['item_sets']);
    }
}

// En interne.
$linkables = [
    'dcterms:creator',
    'dcterms:source',
];
/*
$unlinkables = [
    'dcterms:title',
    'dcterms:date',
    'dcterms:identifier',
    'foaf:name',
    'bio:birth',
    'bio:death',
];
*/

foreach ($values as $term => $propertyData):
    if ($term === 'item_sets') {
        if (!$isItem) {
            continue;
        }
        if (is_null($itemSets)) {
            $itemSets = $item->itemSets();
        }
        if (!count($itemSets)) {
            continue;
        }
        $label = $translate('Collection');
        $labelTerm = $labelInfo === 'term' ? 'o:item_set' : ($labelInfo === 'vocab' ? 'Omeka' : null);
        $propertyData = [
            'values' => $itemSets,
        ];
    } else {
        $label = $propertyData['alternate_label'] ?: $translate($propertyData['property']->label());
        $labelTerm = $labelInfo === 'term' ? $propertyData['property']->term() : ($labelInfo === 'vocab' ? $propertyData['property']->vocabulary()->label() : null);
        $escapedTerm = rawurlencode($term);
    }

    $valueList = [];
    foreach ($propertyData['values'] as $value) {
        if ($term === 'item_sets') {
            /** @var \Omeka\Api\Representation\ItemSetRepresentation $value*/
            $val = [
                'class' => 'resource item_sets' . ($value->isPublic() ? '' : ' private'),
                'link' => $value->link($value->displayTitle()),
                'value' => null,
                'lang' => null,
            ];
        } else {
            $val = $themeFunctions->simpleValueForTerm($value, $term, $linkables);
        }
        $valueList[] = $val;
    }
    ?>
    <li class="property">
        <div class="item-show-metadata-term"<?php if ($labelTerm): ?> title="<?= $escapeAttr($labelTerm) ?>"<?php endif; ?>><?= $escape($label) ?></div>
        <div class="item-show-metadata-term-value">
            <ul>
                <?php foreach ($valueList as $value): ?>
                <li class="<?= $value['class'] ?>"<?php if ($value['lang']): ?> lang="<?= $escapeAttr($value['lang']) ?>"<?php endif; ?>><?= $value['link'] ?? $escape($value['value']) ?></li>
                <?php endforeach; ?>
            </ul>
        </div>
    </li>
<?php endforeach;
