<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var string $heading
 * @var int $count
 */

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$api = $plugins->get('api');
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$thumbnailUrl = $plugins->get('thumbnailUrl');

if (!$count) $count = 4;
if ($count > 100) $count = 100;
$sourceResource = $resource;

if ($resource instanceof \Omeka\Api\Representation\MediaRepresentation) {
    $resources = $api->search('media', ['site_id' => $site->id(), 'limit' => $count, 'sort_by' => 'random'])->getContent();
    $item = $sourceResource->item();
    $itemSets = $item->itemSets();
} else {
    $resources = $api->search('items', ['site_id' => $site->id(), 'limit' => $count, 'sort_by' => 'random'])->getContent();
    $itemSets = $sourceResource->itemSets();
}
if (!$resources) {
    return;
}
if ($itemSets) {
    array_unshift($resources, reset($itemSets));
    $resources = array_slice($resources, 0, count($resources) - 1);
}

$linkTypes = [
    'sites' => 'Exposition',
    'site_pages' => 'Page',
    'items' => 'Document',
    'media' => 'Media',
    'item_sets' => 'Collection',
];
// $headingTerm = $this->siteSetting('browse_heading_property_term', 'dcterms:title');
$headingTerm = null;
// $bodyTerm = $this->siteSetting('browse_body_property_term', 'dcterms:description');
$bodyTerm = null;
$thumbnailType = 'square';
$defaultTitle = $translate('[Untitled]');
?>

<div class="item-see-also">
    <?php if ($heading): ?>
    <h2><?= $heading ?></h2>
    <?php endif; ?>
    <ul>
        <?php
        foreach ($resources as $resource):
            $resourceUrl = $resource->url();
            $resourceThumbnail = $thumbnailUrl($resource, $thumbnailType);
            $resourceTitle = $headingTerm ? $resource->value($headingTerm, ['default' => $defaultTitle]) : $resource->displayTitle($defaultTitle);
            $resourceName = $resource->resourceName();
            $linkType = $linkTypes[$resourceName];
            if ($resourceThumbnail):
            ?>
        <li>
            <a href="<?= $resourceUrl ?>">
                <div class="item-see-also-link-image">
                    <img src="<?= $resourceThumbnail ?>" alt="">
                    <span class="item-see-also-link-type"><?= $linkType ?></span>
                </div>
                <div class="item-see-also-link-title">
                    <h3><?= $escape($resourceTitle) ?></h3>
                </div>
            </a>
        </li>
            <?php else:
                $resourceDescription = $bodyTerm ? $resource->value($bodyTerm) : $resource->displayDescription();
            ?>
        <li class="resource">
            <a href="<?= $resourceUrl ?>">
                <h3><?= $escape($resourceTitle) ?></h3>
                <p><?= $escape($resourceDescription) ?></p>
            </a>
        </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</div>
