<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $sortBy Sort headings, without sort order.
 * @var string $sortByQuery
 * @var string $sortOrderQuery
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$url = $plugins->get('url');

$fullLabels = [
    'score' => [
        'asc' => $translate('Pertinence'),
    ],
    'dcterms:title' => [
        'asc' => $translate('Nom - de A à Z'),
        'desc' => $translate('Nom - de Z à A'),
    ],
    'dcterms:date' => [
        'asc' => $translate('Date - du plus ancien'),
        'desc' => $translate('Date - du plus récent'),
    ],
    'item_count' => [
        'asc' => $translate('Taille - de la plus petite'),
        'desc' => $translate('Taille - de la plus grande'),
    ],
];

$currentQuery = $this->params()->fromQuery();
?>

<select class="select-parent search-sort">
    <?php // SortSelector takes sortByHeading and outputs it as sortBy. ?>
    <?php foreach ($sortBy as $sortByHeading): ?>
        <?php
        $query = $currentQuery;
        $isActive = $sortByQuery === $sortByHeading['value'];
        if ($isActive):
            $isActiveAsc = $sortOrderQuery === 'asc';
            $isActiveDesc = !$isActiveAsc;
            $query['sort_by'] = $sortByHeading['value'];
            $query['sort_order'] = $isActiveAsc ? 'desc' : 'asc';
        else:
            $isActiveAsc = false;
            $isActiveDesc = false;
            $query['sort_by'] = $sortByHeading['value'];
            $query['sort_order'] = 'asc';
        endif;
        if ($sortByQuery === 'score'):
            $queryAsc = $query;
            $queryAsc['sort_order'] = null;
            $queryDesc = null;
            $queryDesc['sort_order'] = null;
        else:
            $queryAsc = $query;
            $queryAsc['sort_order'] = 'asc';
            $queryDesc = $query;
            $queryDesc['sort_order'] = 'desc';
        endif;
        $urlAsc = $url('site/resource', [], ['query' => $queryAsc], true);
        $urlDesc = $url('site/resource', [], ['query' => $queryDesc], true);
        $labelAsc = $fullLabels[$sortByHeading['value']]['asc'] ?? sprintf($translate('%s (asc)'), $sortByHeading['value']);
        $labelDesc = $fullLabels[$sortByHeading['value']]['desc'] ?? sprintf($translate('%s (desc)'), $sortByHeading['value']);
        ?>
        <option value="<?= $escapeAttr($urlAsc) ?>"<?= $isActiveAsc ? ' selected="selected"' : '' ?>><?= $labelAsc ?></option>
        <?php if ($queryDesc): ?>
        <option value="<?= $escapeAttr($urlDesc) ?>"<?= $isActiveDesc ? ' selected="selected"' : '' ?>><?= $labelDesc ?></option>
        <?php endif; ?>
    <?php endforeach; ?>
</select>
