<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');

$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;
?>

<div class="page-show content-with-padding">

    <?php if ($breadcrumbs): ?>
        <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
        <nav id="breadcrumb" class="breadcrumbs">
            <a href="<?= $site ? $site->url() : $this->url('top') ?>"><?= $translate('Accueil') ?></a>
            <?= $nav->breadcrumbs() ?>
        </nav>
    <?php endif; ?>

    <div>
        <?= $this->pageTitle($translate('Forbidden')) ?>

        <?php if (ini_get('display_errors')): ?>
        <pre>
            <?= $this->exception ?>
        </pre>
        <?php endif; ?>
    </div>
</div>
