<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');

$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;
?>

<div class="page-show content-with-padding">

    <?php if ($breadcrumbs): ?>
        <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
        <nav id="breadcrumb" class="breadcrumbs">
            <a href="<?= $site ? $site->url() : $this->url('top') ?>"><?= $translate('Accueil') ?></a>
            <?= $nav->breadcrumbs() ?>
        </nav>
    <?php endif; ?>

    <div>
        <?php echo $this->pageTitle($translate('Page not found')); ?>

        <p><?php echo $translate('The page you are trying to view does not exist. Use the back button to return to the last page.'); ?></p>

        <?php if (ini_get('display_errors')): ?>
            <?php if (isset($this->message)): ?>
            <p><?php echo $this->message; ?></p>
            <?php endif; ?>

            <?php if (isset($this->reason)): ?>
            <p><?php echo sprintf($translate('Reason: %s'), "<tt>$this->reason</tt>"); ?></p>
            <?php endif; ?>

            <?php if ($this->exception): ?>
            <pre><?php echo $this->exception; ?></pre>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
