<?php
$escape = function ($text) {
    return htmlspecialchars($text, ENT_QUOTES | ENT_HTML5 | ENT_SUBSTITUTE, 'UTF-8');
};

// TODO Add main server root path.
$path = '/' . basename(dirname(__DIR__, 2)) . '/' . basename(dirname(__DIR__, 3));
?>
<!DOCTYPE html>
<html>
    <head>
        <title>La bibliothèque numérique a rencontré une erreur</title>
        <link href="<?= $path ?>/asset/css/fonts.css" media="screen" rel="stylesheet" type="text/css">
        <link href="<?= $path ?>/asset/css/styles.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
        <main id="content" role="main">
            <div class="page-show content-with-padding">
                <div>
                    <h1>La bibliothèque numérique a rencontré une erreur !</h1>
                    <?php if (ini_get('display_errors')): ?>
                    <p>
                        <strong><?= $escape(get_class($e)) ?></strong><br>
                        <?= $escape($e->getMessage()) ?>
                    </p>
                    <p>Détails :</p>
                    <pre>
                        <?= $escape($e) ?>
                    </pre>
                    <?php else: ?>
                    <p>Veuillez contacter l’administrateur pour davantage d’informations.
                        <?php /*
                        To learn how to see more detailed information about this error, see the Omeka S User Manual page on
                        <a href="https://omeka.org/s/docs/user-manual/errorLogging/">retrieving error messages</a>.
                        */ ?>
                    </p>
                    <?php endif; ?>
                </div>
            </div>
        </main>
    </body>
</html>
