<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\ItemRepresentation $item
 * @var \Omeka\Api\Representation\ItemRepresentation $resource
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

// Conçu pour un marker par item et non par média.

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$api = $plugins->get('api');

/**
 * @var \Mapping\Api\Representation\MappingRepresentation $mapping
 * @var \Mapping\Api\Representation\MappingMarkerRepresentation[] $markers
 */
$mapping = $api->searchOne('mappings', ['item_id' => $item->id()])->getContent();
$markers = $api->search('mapping_markers', ['item_id' => $item->id()])->getContent();

if (!$mapping && !$markers) {
    return;
}

/* // Chargés dans le layout.
$this->headLink()->appendStylesheet($this->assetUrl('vendor/leaflet/leaflet.css', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('vendor/leaflet/leaflet.js', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('vendor/leaflet.providers/leaflet-providers.js', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('js/mapping-show.js', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('js/control.fit-bounds.js', 'Mapping'));
*/

$siteSlug = $site->slug();
$itemUrl = $item->siteUrl($siteSlug);
$itemTitle = $item->displayTitle();
?>

<div id="mapping-section" class="section">
    <div id="mapping-map" style="height:500px;" data-mapping="<?= $escape(json_encode($mapping, 320)) ?>"></div>
</div>

<?php foreach ($markers as $marker):
    $media = $marker->media();
    $label = $marker->label() ?: $itemTitle;
    ?>
<div class="mapping-marker-popup-content" style="display:none;" data-marker-id="<?= $escape($marker->id()) ?>" data-marker-lat="<?= $escape($marker->lat()) ?>" data-marker-lng="<?= $escape($marker->lng()) ?>">
    <?php if ($media): ?>
    <div>
        <a href="<?= $itemUrl ?>">
            <div>
                <img src="<?= $escapeAttr($media->thumbnailUrl('medium')) ?>">
            </div>
        </a>
    </div>
    <?php endif; ?>
    <h3><a href="<?= $itemUrl ?>"><?= $escape($label) ?></a></h3>
    <div class="metadata">
        <?php if ($value = $item->value('dcterms:date')): ?>
        <?= $escape($value) ?>
        <?php endif; ?>
    </div>
</div>
<?php endforeach; ?>
