<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\ItemSetRepresentation[] $itemSets
 * @var \Omeka\Api\Representation\ItemSetRepresentation[] $resources
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$translatePlural = $plugins->get('translatePlural');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$thumbnailUrl = $plugins->get('thumbnailUrl');
// $url = $plugins->get('url');

// $hasSelection = $plugins->has('showSelectionLink');
// $hasNext = $plugins->has('nextResource');
$hasSearch = $plugins->has('searchingForm');
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;

$this->htmlElement('body')->appendAttribute('class', 'item-set resource browse');

$headingTerm = $this->siteSetting('browse_heading_property_term', 'dcterms:title');
$bodyTerm = $this->siteSetting('browse_body_property_term', 'dcterms:description');
$defaultThumbnail = $this->assetUrl('thumbnails/default.png', 'Omeka', true);
$defaultTitle = $translate('[Untitled]');
$thumbnailType = 'square';

$hasPage = $this->params()->fromQuery('page');
?>

<div class="browse-itemsets browse-contents content-with-padding">

    <?php if ($breadcrumbs): ?>
    <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
    <nav class="breadcrumbs">
        <a href="<?= $site->url() ?>"><?= $translate('Accueil') ?></a>
        <span><?= $translate('Collections') ?></span>
    </nav>
    <?php endif; ?>

    <div class="browse-contents-header">
        <?= $this->pageTitle($translate('Collections'), 1) ?>
    </div>

    <?= $this->pagination('common/pagination') ?>

    <?php $this->trigger('view.browse.before'); ?>

    <ul class="browse-itemsets-list">
        <?php
        foreach ($itemSets as $itemSet):
            $itemSetUrl = $itemSet->url();
            $itemSetThumbnail = $thumbnailUrl($itemSet, $thumbnailType) ?: $defaultThumbnail;
            $itemSetTitle = $headingTerm ? $itemSet->value($headingTerm, ['default' => $defaultTitle]) : $itemSet->displayTitle();
            // $itemSetBody = $bodyTerm ? $itemSet->value($bodyTerm) : $itemSet->displayDescription();
            // TODO Couleurs ? => via css.
            // $itemSetCategory = $itemSet->value('curation:category');
            $itemSetIsNew = $itemSet->value('curation:newResource');
            $documentCount = $itemSet->itemCount();
            $documentCountStr = sprintf($translatePlural('%s document', '%s documents', $documentCount), $documentCount);
            ?>
        <li<?php if ($itemSetIsNew): ?> class="new-itemset"<?php endif; ?>>
            <a href="<?= $itemSetUrl ?>">
                <div class="browse-itemsets-img">
                    <img src="<?= $itemSetThumbnail ?>" alt="<?= $escapeAttr($itemSetTitle) ?>"/>
                </div>
                <div class="browse-itemsets-title">
                    <h2><?= $itemSetTitle ?></h2>
                    <div class="home-itemset-documents-count"><?= $documentCountStr ?></div>
                    <?php foreach ($itemSet->value('dcterms:subject', ['all' => true]) as $value): ?>
                    <div class="home-itemset-tags"><?= $value->value() ?? $value->uri() ?></div>
                    <?php endforeach; ?>
                </div>
            </a>
        </li>
        <?php endforeach; ?>
        <?php // Pour simplifier le css, on doit créer <li> : n fois, avec n = un multiple de 4 actuellement. ?>
        <?= str_repeat('       <li></li>', ($count = count($itemSets) % 4) ? 4 - $count : 0) ?>
    </ul>

    <?php $this->trigger('view.browse.after'); ?>

</div>
