<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\ItemRepresentation[] $items
 * @var \Omeka\Api\Representation\ItemRepresentation[] $resources
 * @var \Omeka\Api\Representation\ItemSetRepresentation $itemSet
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$translatePlural = $plugins->get('translatePlural');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$themeFunctions = $plugins->get('ThemeFunctions');

$thumbnailUrl = $plugins->get('thumbnailUrl');
$defaultThumbnail = $this->assetUrl('thumbnails/default.png', 'Omeka', true);
$defaultTitle = $translate('[Untitled]');
$thumbnailType = 'large';

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();

$itemSetThumbnail = $thumbnailUrl($itemSet, $thumbnailType) ?: $defaultThumbnail;
$itemSetTitle = $itemSet->displayTitle(null, ($filterLocale ? $lang : null));
[$itemSetDescription, $itemSetMore] = $themeFunctions->descriptionAndMore($itemSet);
// $itemSetIsNew = $itemSet->value('curation:newResource');
$documentCount = $itemSet->itemCount();
$documentCountStr = sprintf($translatePlural('%s document', '%s documents', $documentCount), $documentCount);

// For standard advanced search link.
// $query['item_set_id'] = $itemSet->id();
?>

<div class="itemset-show-header toggle-parent modulo-<?= ($itemSet->id() % 8) + 1 ?>">
    <div class="itemset-show-header-image-and-title">
        <div class="itemset-show-header-image">
            <img src="<?= $itemSet->thumbnailDisplayUrl($thumbnailType) ?: $defaultThumbnail ?>" alt="<?= $escapeAttr($itemSetTitle) ?>"/>
        </div>
        <div class="itemset-show-header-title-and-description">
            <?= $this->pageTitle($itemSetTitle, 1) ?>
            <div class="itemset-show-items-count"><?= $documentCountStr ?></div>
            <div class="itemset-show-description">
                <?= $itemSetDescription ?>
            </div>
            <?php if ($itemSetMore): ?>
            <div class="itemset-show-description-more-parent">
                <a class="itemset-show-description-more" href=""><?= $translate('En savoir plus') ?></a>
            </div>
            <?php endif; ?>
        </div>
    </div>
    <?php if ($itemSetMore): ?>
    <div class="itemset-show-header-full-description" style="display: none;">
        <div>
            <?= $itemSetMore ?>
        </div>
        <div class="itemset-show-description-close-parent">
            <a class="itemset-show-description-close" href=""><?= $translate('Close') ?></a>
        </div>
    </div>
    <?php endif; ?>
</div>
