<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\ItemRepresentation[] $items
 * @var \Omeka\Api\Representation\ItemRepresentation[] $resources
 * @var \Omeka\Api\Representation\ItemSetRepresentation $itemSet
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$translatePlural = $plugins->get('translatePlural');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$url = $plugins->get('url');
$themeSetting = $plugins->get('themeSetting');
$themeFunctions = $plugins->get('ThemeFunctions');
$thumbnailUrl = $plugins->get('thumbnailUrl');

$searchingForm = $plugins->has('searchingForm') ? $plugins->get('searchingForm') : null;
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;

$defaultThumbnail = $this->assetUrl('thumbnails/default.png', 'Omeka', true);
$defaultTitle = $translate('[Untitled]');
$thumbnailType = 'square';

$query = $this->params()->fromQuery();
$isItemSetShow = isset($itemSet);
$hasItemBrowseSearch = !$isItemSetShow && $themeSetting('item_browse_search');
$useItemSetShowSearch = $isItemSetShow && $themeSetting('itemset_show_search') !== 'search';

$sortHeadings = [
    [
        'label' => $translate('Title'),
        'value' => 'dcterms:title',
    ],
    [
        'label' => $translate('Date'),
        'value' => 'dcterms:date',
    ],
];

$response = null;

$vars = $this->vars();
$vars->offsetSet('isItemSetShow', $isItemSetShow);
?>

<div class="itemset-show content-with-padding">

    <?php if ($breadcrumbs): ?>
    <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
    <nav class="breadcrumbs">
        <a href="<?= $site->url() ?>"><?= $translate('Accueil') ?></a>
        <a href="<?= $url('site/resource', ['controller' => 'item-set', 'action' => 'browse'], true) ?>"><?= $translate('Collections') ?></a>
        <?php if ($isItemSetShow): ?>
        <span><?= $escape($itemSet->displayTitle()) ?></span>
        <?php elseif (!empty($query['item_set_id']) && (!is_array($query['item_set_id']) || count($query['item_set_id']) === 1)): ?>
        <?php // TODO Items de la collection (parcourir les items à l'intérieur de la collection) ?>
        <?php $itemSet = $this->api()->read('item_sets', is_array($query['item_set_id']) ? reset($query['item_set_id']) : $query['item_set_id'])->getContent(); ?>
        <span><?= $escape($itemSet->displayTitle()) ?></span>
        <?php else: ?>
        <span><?= $translate('Documents') ?></span>
        <?php endif; ?>
    </nav>
    <?php endif; ?>

<?php if ($isItemSetShow): ?>

    <?php
    // Pour common/resource-list.
    $vars->offsetSet('resourceType', 'item_sets');
    $this->htmlElement('body')->appendAttribute('class', 'item-set item resource browse');
    $documentCount = $itemSet->itemCount();
    $documentCountStr = sprintf($translatePlural('%s document', '%s documents', $documentCount), $documentCount);
    echo $this->partial('omeka/site/item-set/show-head');
    ?>

<?php else: ?>

    <?php
    // Pour common/resource-list.
    $vars->offsetSet('resourceType', 'items');
    $this->htmlElement('body')->appendAttribute('class', 'item resource browse');
    $documentCount = $this->pagination()->getPaginator()->getTotalCount();
    $documentCountStr = sprintf($translatePlural('%s document', '%s documents', $documentCount), $documentCount);
    if ($hasItemBrowseSearch):
        $vars->offsetSet('noHeading', true);
        // TODO Faire  en sorte que l'on puisse rester sur la page item/browse avec Search (supprimer l'action: cf. psl).
        // echo $searchingForm ? $searchingForm('search/search-form-no-heading') : $this->partial('common/search-form');
        echo $this->partial('common/search-form');
    endif;
    ?>

<?php endif; ?>

    <div class="itemset-show-content-controls">
        <div class="itemset-show-back-to-itemsets">
            <a class="back-to-itemsets" href="<?= $url('site/resource', ['controller' => 'item-set', 'action' => 'browse'], true) ?>"><?= $translate('Retour aux collections') ?></a>
        </div>
        <div class="itemset-show-content-header">
            <div class="itemset-show-items-count"><?= $documentCountStr ?></div>
            <?= $pagination = (string) $this->pagination('common/pagination') ?>
            <div class="select-parent">
                <?= $this->sortSelector($sortHeadings, 'common/sort-selector-links') ?>
            </div>
        </div>
    </div>
    <div class="itemset-show-content-and-filters">
        <aside>
            <?php
            // TODO Inclure filter / search.
            // TODO Inclure le module Browse Facets.
            // TODO echo $this->searchFilters();
            ?>
            <?php if ($useItemSetShowSearch): ?>
                <?php // Pour le module Search, utiliser l’option "rediriger les collections" dans les paramètres du site. ?>
                <?= $this->partial('common/search-form-simple') ?>
                <?php // TODO = $this->partial('search/facets') ?>
            <?php endif; ?>
        </aside>
        <div class="itemset-show-content">
            <?php $this->trigger('view.browse.before'); ?>
            <?= $this->partial('common/resource-list') ?>
            <?php $this->trigger('view.browse.after'); ?>
            <div class="itemset-show-content-footer">
                <?= $pagination ?>
            </div>
        </div>
    </div>
</div>
