<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\SitePageRepresentation $page
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$themeFunctions = $plugins->get('ThemeFunctions');

$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;

$this->headLink()->appendStylesheet($this->assetUrl('css/page-blocks.css', 'Omeka'));
$this->htmlElement('body')->appendAttribute('class', 'page');
$this->pageTitle($title = $page->title(), 2);
$showPagePagination = $this->siteSetting('show_page_pagination', true);

$nav = $site->publicNav();
$container = $nav->getContainer();
$activePage = $nav->findActive($container);
$isHomePage = $themeFunctions->isHomePage();
?>

<?php if ($isHomePage): ?>

    <?php $this->trigger('view.show.before'); ?>
    <div class="blocks">
        <?= $this->content ?>
    </div>
    <?php $this->trigger('view.show.after'); ?>

<?php return; ?>
<?php endif; ?>

<div class="page-show content-with-padding">

    <?php // Fil d'ariane pour toutes les pages, dans le menu ou non, sans tenir compte de la profondeur. ?>
    <?php if ($breadcrumbs): ?>
        <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
        <nav id="breadcrumb" class="breadcrumbs">
            <a href="<?= $site->url() ?>"><?= $translate('Accueil') ?></a>
            <?= $nav->breadcrumbs() ?>
            <span><?= $escape($page->title()) ?></span>
        </nav>
    <?php endif; ?>

    <?php if ($activePage): ?>
        <?php if ($this->displayNavigation && $activePage['page']->hasPages()): ?>
        <nav class="sub-menu"><?= $nav->menu()->renderSubMenu() ?></nav>
        <?php endif; ?>
    <?php endif; ?>

    <?php $this->trigger('view.show.before'); ?>
    <div class="page-show-contents blocks">
        <?= $this->content ?>
    </div>
    <?php $this->trigger('view.show.after'); ?>

    <?php if ($showPagePagination): ?>
    <?= $this->sitePagePagination() ?>
    <?php endif; ?>

</div>
