<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageBlockRepresentation $block
 * @var \Omeka\Api\Representation\SiteBlockAttachmentRepresentation[] $attachments
 * @var string $thumbnailType
 * @var string $showTitleOption
 * @var string $heading
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');

$defaultTitle = $translate('[Untitled]');

// TODO Fix issue in omeka core (rights or attachments?).
// Prepare and check all attachments one time.
$items = [];
$urls = [];
foreach ($attachments as $key => $attachment):
    $item = $attachment->item();
    if (!$item):
        unset($attachments[$key]);
        continue;
    endif;
    $items[$key] = $item;
    $urls[$key] = $item->siteUrl();
endforeach;
?>

<div class="home-actus content-with-padding">
    <div class="home-actus-content">
        <?php if (!empty($heading)): ?>
        <h3><?= $escape($heading) ?></h3>
        <?php endif; ?>
        <ul>
        <?php
        foreach ($attachments as $key => $attachment):
            $item = $items[$key];
        ?>
            <li>
                <a href="<?= $urls[$key] ?>">
                    <?php if ($showTitleOption): ?>
                    <h4><?= $escape($item->displayTitle($defaultTitle)) ?></h4>
                    <?php endif; ?>
                    <div><?= $attachment->caption() ?: $escape($item->displayDescription()) ?></div>
                </a>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>
</div>
