<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Mapping\Api\Representation\MappingRepresentation $mapping
 * @var \Mapping\Api\Representation\MappingMarkerRepresentation[] $markers
 */

// Conçu pour un marker par item et non par média.

/*
$this->headLink()->appendStylesheet($this->assetUrl('vendor/leaflet/leaflet.css', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('vendor/leaflet/leaflet.js', 'Mapping'));
$this->headLink()->appendStylesheet($this->assetUrl('vendor/leaflet.markercluster/MarkerCluster.css', 'Mapping'));
$this->headLink()->appendStylesheet($this->assetUrl('vendor/leaflet.markercluster/MarkerCluster.Default.css', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('vendor/leaflet.markercluster/leaflet.markercluster-src.js', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('vendor/leaflet.providers/leaflet-providers.js', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('js/control.fit-bounds.js', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('js/mapping-browse.js', 'Mapping'));
$this->headScript()->appendFile($this->assetUrl('js/advanced-search.js', 'Omeka'));
*/

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$partial = $plugins->get('partial');

$query['mapping_basemap_provider'] = $query['mapping_basemap_provider'] ?? '';

$siteSlug = $this->ThemeFunctions()->currentSite()->slug();
?>

<div id="mapping-map" style="height:500px; width: 80%; margin:0 auto;"></div>

<form id="advanced-search">
    <?= $partial('common/advanced-search', ['query' => $query, 'resourceType' => 'item']) ?>
    <button type="submit"><?= $translate('Search Map') ?></button>
    <input type="hidden" name="mapping_basemap_provider" value="<?= $escape($query['mapping_basemap_provider']) ?>">
</form>

<?php foreach ($markers as $marker):
    $item = $marker->item();
    $itemUrl = $item->siteUrl($siteSlug);
    $itemTitle = $item->displayTitle();
    $media = $marker->media();
    $label = $marker->label() ?: $itemTitle;
?>
<div class="mapping-marker-popup-content" style="display:none;" data-marker-id="<?= $escape($marker->id()) ?>" data-marker-lat="<?= $escape($marker->lat()) ?>" data-marker-lng="<?= $escape($marker->lng()) ?>">
    <?php if ($media): ?>
    <div>
        <a href="<?= $itemUrl ?>">
            <div>
                <img src="<?= $escapeAttr($media->thumbnailUrl('medium')) ?>">
            </div>
        </a>
    </div>
    <?php endif; ?>
    <h3><a href="<?= $itemUrl ?>"><?= $escape($label) ?></a></h3>
    <div class="metadata">
        <?php if ($value = $item->value('dcterms:date')): ?>
        <?= $escape($value) ?>
        <?php endif; ?>
    </div>
</div>
<?php endforeach; ?>
