<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \AdvancedSearch\Api\Representation\SearchPageRepresentation $searchPage
 * @var \AdvancedSearch\Query $query
 * @var \AdvancedSearch\Response $response
 * For block layout:
 * @var string $heading Unused in current template.
 * @var bool $skipFormAction Remove action of the form, so it uses current page.
 */

// La version de PSL gère : no heading, no breadcrumbs.
// TODO Prendre en compte les blocs.

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$translatePlural = $plugins->get('translatePlural');
$assetUrl = $plugins->get('assetUrl');
$partial = $plugins->get('partial');
$api = $plugins->get('api');
$url = $plugins->get('url');
$searchingForm = $plugins->get('searchingForm');
$themeSetting = $plugins->get('themeSetting');
$vars = $this->vars();

// Used in case of a redirect of item-set/show to search, when used like item/browse.
$params = $this->params();
$itemSetId = $params->fromRoute('item-set-id');
// TODO Use site item set ?
$itemSet = $itemSetId ? $api->searchOne('item_sets', ['id' => $itemSetId])->getContent() : null;
if ($itemSet && $themeSetting('itemset_show_template') !== 'search') {
    $vars->offsetSet('itemSet', $itemSet);
    echo $partial('search/search-item-set');
    return;
}

$skipFormAction = !empty($skipFormAction);
$separate = false;

$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : false;
?>

<div id="search-page" class="search-results content-with-padding">

    <?php if ($breadcrumbs): ?>
    <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
    <nav class="breadcrumbs">
        <a href="<?= $site->url() ?>"><?= $translate('Accueil') ?></a>
        <a href="<?= $url('site/resource', ['controller' => 'item-set', 'action' => 'browse'], true) ?>"><?= $translate('Collections') ?></a>
        <?php if ($itemSet): ?>
        <a href="<?= $itemSet->siteUrl($site->slug()) ?>"><?= $escape($itemSet->displayTitle()) ?></a>
        <?php endif; ?>
        <span><?= $translate('Recherche') ?></span>
    </nav>
    <?php endif; ?>

    <?php
    if ($itemSet):
        $this->htmlElement('body')->appendAttribute('class', 'search-page item-set resource browse');
        $vars->offsetSet('itemSet', $itemSet);
        $vars->offsetSet('resourceType', 'item_sets');
        echo $partial('omeka/site/item-set/show-head');
        $this->trigger('view.browse.before');
    else:
        $this->htmlElement('body')->appendAttribute('class', 'search-page');
        echo $this->searchingForm();
    endif;
    ?>

<?php if (isset($response)):
    $documentCount = $response->getTotalResults();
    $pagination = (string) $this->pagination('common/pagination');
    ?>

    <?= $partial('search/results-header', [
        'searchPage' => $searchPage,
        'query' => $query,
        'response' => $response,
        'itemSet' => $itemSet,
        'documentCount' => $documentCount,
        'pagination' => $pagination,
    ]) ?>

    <div class="search-results-content-and-filters">

        <aside>
            <?php if ($itemSet): ?>
            <?= $searchingForm('search/search-form-simple') ?>
            <?php endif; ?>
            <?= $partial('search/facets', [
                'searchPage' => $searchPage,
                'query' => $query,
                'response' => $response,
                'itemSet' => $itemSet,
            ]) ?>
        </aside>

        <div class="search-results-content">

            <?php if ($documentCount):
                $itemSetsCount = $response->getResourceTotalResults('item_sets');
                $itemsCount = $response->getResourceTotalResults('items');
                ?>

                <?php if ($separate && empty($itemSet)): ?>
                    <?= $partial('search/resource-list', [
                        'site' => $site,
                        'title' => sprintf($translatePlural('%s item set', '%s item sets', $itemSetsCount), $itemSetsCount),
                        'response' => $response,
                        'resourceName' => 'item_sets',
                    ]) ?>

                    <?= $partial('search/resource-list', [
                        'site' => $site,
                        'title' => sprintf($translatePlural('%s item', '%s items', $itemsCount), $itemsCount),
                        'response' => $response,
                        'resourceName' => 'items',
                    ]) ?>

                <?php elseif ($itemSet && $themeSetting('itemset_show_template') !== 'search'): ?>

                    <?= $partial('search/resource-list-item-set', [
                        'site' => $site,
                        'title' => sprintf($translatePlural('%s item', '%s items', $itemsCount), $itemsCount),
                        'response' => $response,
                        'resourceName' => null,
                    ]) ?>

                <?php else: ?>

                    <?= $partial('search/resource-list', [
                        'site' => $site,
                        'title' => sprintf($translatePlural('%s item', '%s items', $itemsCount), $itemsCount),
                        'response' => $response,
                        'resourceName' => null,
                    ]) ?>

                <?php endif; ?>

                <div class="search-results-content-footer">
                    <?= $pagination ?>
                </div>

            <?php else: ?>

                <div class="noresults">
                    <?php if (empty($query) && !$itemSet): ?>
                    <?= $translate('Fill a query and get results.') ?>
                    <?php elseif (empty($query) && $itemSet): ?>
                    <?= $translate('This item set has no items.') ?>
                    <?php else: ?>
                    <?= $translate('Your query returned no results') ?>
                    <?php endif; ?>
                </div>

            <?php endif; ?>

            <?php if ($itemSet): ?>
            <?php $this->trigger('view.browse.after'); ?>
            <?php endif; ?>

        </div>

    </div>

<?php else: ?>

    <div class="search-results-content-controls">
        <div class="search-results-back"></div>
        <div class="search-results-content-header">
            <div class="search-results-count"><?= $translate('No documents') ?></div>
        </div>
    </div>
    <div class="search-results-content-and-filters">
        <aside>
            <div class="search-results-filters-and-toggle toggle-parent">
            </div>
        </aside>
        <div class="search-results-content">
            <div class="noresults"><?= $translate('An error occured and your query returned no results.') ?></div>
        </div>
    </div>

<?php endif; ?>

</div>
