<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Laminas\Form\Form $form
 * Options:
 * @var bool $noHeading
 */

// Recherche principale: affiche le premier champ (le principal) du formulaire et ses champs obligatoires ou cachés.
// Les autres champs sont accessibles via les boutons inférieurs (carte et recherche avancée).

// Si on veut la même recherche dans tous les formulaires, on utilise formOtherElements dans le popup et on l'appelle d'ici en bas et on l'enlève du gabarit principal.

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$formElement = $plugins->get('formElement');
$themeFunctions = $plugins->get('ThemeFunctions');

$hasMapping = $themeFunctions->hasMappingOrMarkers();
$isAdvancedSearchForm = $themeFunctions->isAdvancedSearchForm($this->searchForm()->getForm());
$mainElement = $themeFunctions->mainElementOfSearchForm($form);
?>

<div class="search-results-header">
    <?php if (empty($noHeading)): ?>
    <h1><?= $translate('Rechercher') ?></h1>
    <?php endif; ?>
    <div class="search-results-search-box">
        <?= $this->form()->openTag($form) ?>
            <?= $formElement($mainElement->setAttribute('placeholder', $translate('Rechercher un document'))) ?>
            <input type="submit" value="<?= $translate('Rechercher') ?>" />
        <?= $this->form()->closeTag() ?>
        <?php if ($hasMapping || $isAdvancedSearchForm): ?>
        <div class="search-results-header-buttons">
            <?php if ($hasMapping): ?>
            <div class="search-by-map-button">
                <a href="#"><?= $translate('Recherche par carte') ?></a>
            </div>
            <?php endif; ?>
            <?php if ($isAdvancedSearchForm): ?>
            <div class="advanced-search-button">
                <a href="#"><?= $translate('Recherche avancée') ?></a>
            </div>
            <?php endif; ?>
        </div>
        <?php endif; ?>
    </div>
</div>
