<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$hyperlink = $plugins->get('hyperlink');
$url = $plugins->get('url');
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;

$this->htmlElement('body')->appendAttribute('class', 'index search');
?>

<div class="search-results content-with-padding">
    <div>
        <?php if ($breadcrumbs): ?>
        <?= $breadcrumbs(['separator' => '']) ?>
        <?php else: ?>
        <nav class="breadcrumbs">
            <a href="<?= $site->url() ?>"><?= $translate('Accueil') ?></a>
            <span><?= $translate('Search results') ?></span>
        </nav>
        <?php endif; ?>

        <?= $this->pageTitle(sprintf($translate('Search results for “%s”'), $query)) ?>

        <?php if (empty($results)): ?>
            <p><?= $translate('No result found') ?></p>
        <?php else:
            $resourceLabels = [
                'site_pages' => 'Site pages', // @translate
                'items' => 'Items', // @translate
                'item_sets' => 'Item sets', // @translate
                'media' => 'Media', // @translate
            ];
            $resourceControllers = [
                'site_pages' => 'page',
                'items' => 'item',
                'item_sets' => 'item-set',
                'media' => 'media',
            ];
            foreach ($results as $resourceName => $result):
                $titleMethod = $resourceName === 'site_pages' ? 'title' : 'displayTitle';
                ?>
        <div class="<?= $resourceName; ?> results">
            <h2><?= $translate($resourceLabels[$resourceName]) ?></h2>
            <ul>
                <?php foreach ($result['resources'] as $resource): ?>
                <li>
                    <?= $resource->link($resource->$titleMethod()) ?>
                </li>
                <?php endforeach; ?>
            </ul>
                <?= $hyperlink(
                    sprintf($translate('View all results (%s total)'), $result['total']),
                    $url(
                        'site/resource',
                        ['controller' => $resourceControllers[$resourceName], 'action' => 'browse'],
                        ['query' => ['fulltext_search' => $query]],
                        true
                    )
                ) ?>
        </div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
</div>
